*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
  --main-bg-color: #f6f0f0;
  --main-text-color: #000000;
  --main-card-color: #ffffff;
}